@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #d9d7dd;
  align-items: center; /* This vertically centers children */
  justify-content: center; /* This horizontally centers children */
  height: 100vh; /* Use the full height of the viewport */
  margin: 0; /* Remove default margin */
  flex-direction: column;
}

.clock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Fixed size for demonstration, adjust as needed */
  height: 300px; /* Fixed size for demonstration, adjust as needed */
  border-radius: 50%;
  background-color: white;
}
#hour,
#minute,
#second {
  position: absolute;
  background: black;
  transform-origin: bottom;
}
#hour {
  color: rgb(0, 0, 0);
  width: 6px;
  height: 100px;
  transform: rotate(0);
  left: 49%;
  bottom: 50%;
}
#minute {
  background-color: rgb(0, 0, 0);
  width: 4px;
  height: 130px;
  transform: rotate(0);
  left: 49%;
  bottom: 50%;
}
#second {
  background-color: rgb(255, 0, 0);
  width: 2px;
  height: 150px;
  transform: rotate(0);
  left: 49%;
  bottom: 50%;
}

.center-wrapper {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-color: black;
}

/* Text Css*/
.text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: black;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px #000000;
  transition: all 0.5s ease-in-out;
}
#datePrint {
  padding: 0px;
  margin-bottom: 0px;
}
#timePrint {
  margin-top: 10px;
  padding: 0px;
  margin-bottom: 5px;
}
